* {
  border: none;
  border-radius: 0;
  font-family: "Ubuntu Nerd Font";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #89b482;
}

#window {
  font-family: "Ubuntu";
  margin-top: 5px;
}

/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #888888;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  color: #e78a4e;
  border-top: 2px solid #e78a4e;
}

#tray,
#temperature,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio {
  padding: 0 5px;
  margin-right: 5px;
  margin-top: 5px;
}

#temperature.critical {
  color: red;
}

#battery icon {
  color: red;
}

#battery.charging {
  color: #e78a4e;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: #a9b665;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background: #f53c3c;
}
