@import "mocha.css";

* {
  /* font-family: FantasqueSansMono Nerd Font; */
  font-family: "Ubuntu Nerd Font";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

.modules-center #window {
  color: @peach;
  border-radius: 1rem;
  background-color: @surface0;
  margin-top: 1rem;
  padding: 0 7px;
  margin: 7px 3px 7px 7px;
}

#workspaces {
  border-radius: 1rem;
  background-color: @surface0;
  margin-top: 1rem;
  margin: 7px 3px 7px 7px;
}

#workspaces button {
  color: @pink;
  border-radius: 1rem;
  margin: 5px 0;
  box-shadow: inset 0 -3px transparent;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
  background-color: transparent;
}

#workspaces button.focused {
  color: @peach;
  /* border: 0.1rem solid @peach; */
}

#workspaces button.active {
  color: @flamingo;
  border-radius: 1rem;
  border-color: @flamingo;
}

#workspaces button:hover {
  color: @rosewater;
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
  border-radius: 1rem;
  border-color: @flamingo;
}

#tray,
#network,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#temperature,
#cpu,
#memory {
  background-color: @surface0;
  margin: 7px 3px 7px 7px;
  padding: 10px 5px 10px 5px;
  border-radius: 1rem;
}

#temperature.critical {
  color: red;
}

#clock {
  color: @lavender;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
    color: @flamingo;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @pink;
}

#pulseaudio.muted {
    color: @red;
}

#custom-power {
    border-radius: 1rem;
    color: @red;
    margin-bottom: 1rem;
}

#tray {
  border-radius: 1rem;
}

tooltip {
    background: @base;
    border: 1px solid @pink;
}

tooltip label {
    color: @text;
}
