/*
window {
    margin: 5px;
    border: 2px solid white;
    background-color: rgb(26,21,0);
}
*/

#input {
    margin: 5px;
    background: transparent;
    color: white;
    /* border: 2px solid blue; */
    /* background-color: blue; */
}

#inner-box {
    margin: 5px;
    /* border: 2px solid yellow; */
    /* background-color: yellow; */
}

#outer-box {
    margin: 5px;
    /* border: 2px solid green; */
    border: 2px transparent;
    /* background-color: green; */
}

#scroll {
    margin: 5px;
    /* border: 2px solid orange; */
    /* background-color: orange; */
}

#text {
    margin: 5px;
    color: white;
    /* border: 2px solid cyan; */
    /* background-color: cyan; */
}

#entry:selected {
    /* background-color: rgba(0,0,0,0); */
    background-color: rgb(255,170,0);
    /* text-decoration: underline; */
    /* text-decoration-color: white; */
}

#text:selected {
     /* background-color: red; */
    color: rgb(26,21,0);
    text-decoration: none;
    text-decoration-color: white;
}
